body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#ip-address {
    font-weight: bold;
    color: #00698f;
}

#location {
    font-size: 16px;
    color: #666;
}

#scammer-message {
    font-size: 18px;
    color: #ff0000;
    font-weight: bold;
}

#police-radio-code {
    font-size: 16px;
    color: #666;
    font-style: italic;
}
